BODY {
  margin: 0;
  background-image: url(../img/background.jpg);
  background-size: cover;
}

header{
  background: #202020;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0; right: 0;
  top: 0;
}

.logo{
  width: 20%;
  margin-left: 2%;
}

.scroll {
  border: 1px solid #000;
  width: 60%;
  height: 614PX;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  position: static;
  margin-top: 70px;
  margin-bottom: 70px;
} 

.container{
  border: 1px solid #000;
  min-height: 150px;
  padding: 10px;
  margin-bottom: 20px;
}

.information{
  border: 1px solid #000;
  float: right;
  min-height: 150px;
  width: 35%;
  margin-top: 7%;
  margin-right: 2%;
}

.plan{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
  width: 60%;
}

footer{
  background: #202020;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 10%;
  left: 0; right: 0;
  bottom: 0;
}